body {
  margin: 0%;
  font-family: "Nunito Sans", sans-serif;
}
body * {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.button {
  background: #e6b15e;
  box-shadow: 0px 5px 15px rgba(234, 184, 103, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 20px 0;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  display: inline-block;
  font-size: 11px;
  width: 207px;
}

.button-secondary:hover {
  border: 1px solid #ffffff;
  background: none;
  padding: 19px 0;
 
  
  
}
.button1 {
  position: relative;
  margin-left: 50px;
}
.button-small {
  width: 161px;
  padding: 13px 0;
 border: 1px solid transparent;
}
.button-small:hover {
  background: none;
  border: 1px solid #ffffff;
}

.logo {
  color: #e3b873;
}
.header {
  background-color: black;
}
.header-navigation {
  list-style: none;
  display: flex;
}
.header-navigation_item {
  margin-right: 47px;
}
.header-navigation_item a {
  text-decoration: none;
  color: white;
}
.header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}
.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 707px;
  position: relative;
  padding: 194px 50px 0;
}
.title {
  margin: 0;
  font-family: Yeseva One, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
  width: 50%;
}
.hero-container {
  position: relative;
  z-index: 1;
}
.hero-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}
.dom {
  color: #e3b873;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.link {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: #e3b873;
}


.subtitle {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
}

.buttons-wrapper .button + .button {
  margin-left: 20px;
}

li a:hover {
  color: white;
 
}

.projects {
  background: #131313;
}

.navigation_part2 {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.container_part2 {
  padding-top: 107px;
  margin-left: 626px;
}
.navigation_items2 {
  list-style: none;
  font-family: Yeseva One;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}
.title_p2 {
  color: #e3b873;
  font-family: Yeseva One;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  height: 66px;
}

.o-grid {
  color: #e3b873;
  border-bottom: #e3b873 solid 1px;
}
.btn__text1 {
  line-height: 27px;
  margin-top: 34px;
  color: #ffffff;
  font-family: Nunito Sans;
}
.btn_text2 {
  display: flex;
  width: 442px;
  flex-wrap: wrap;
}
.subblock {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-direction: column;
  width: 50%;
}

.title_h1 {
  font-family: Yeseva One;

  color: #e3b873;
  width: 220px;
  height: 22px;
  font-size: 18px;
}

.o-layout {
  color: #ffffff;
  width: 161px;
  height: 42px;
  font-family: Nunito Sans;
}
.title_h2 {
  color: #e3b873;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}
.o-layout2 {
  color: #ffffff;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
}
.title_h3 {
  color: #e3b873;

  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  font-size: 18px;
}
.o-layout3 {
  color: white;
  font-family: Nunito Sans;
}
.slider_image {
  position: absolute;
  right: 95px;
  top: 0px;
  width: 679px;
  height: 482px;
}

.h3 {
  justify-content: center;
  text-align: center;
  color: #ffffff;
  bottom: 350px;
  font-family: Yeseva One;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.slider_wrapper {
  position: relative;
}

.slider_interpreter {
  line-height: 25px;
  margin: 85px 15px 0px 0px;
}
.slider_h {
  margin-left: 17px;
}
.control {
  height: auto;
  padding: 2px;
  color: #ffffff;
  text-align: center;
  left: 500px;
  bottom: 298px;
  padding: 2px;
  font-family: Yeseva One;
}
.logcam {
  height: auto;
  padding: 2px;
  color: #ffffff;
  text-align: center;
  left: 598px;
  bottom: 270px;
}
.line {
  position: relative;
  top: -14px;
}

.types {
  position: absolute;
  height: auto;
  max-width: 1440px;
}
.video {
  position: relative;
  text-align: center;
  width: 817px;
  margin: 0 auto;
  filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
}
.online-control-icon {
  text-align: center;
  vertical-align: 50%;
}
.online-control-title {
  padding-bottom: 31px;
}
.online-control-bg {
  background: #131313;
  height: 416px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.online-control {
  position: relative;
  padding: 97px 0 62px;
}
.video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 434px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.video-play {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  background-color: #e3b873;
  position: absolute;
  box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.video-play svg {
  margin: 29px 29px 28px 35px;
}
.line-image {
  width: 55px;
  height: 2px;
  background: #e3b873;
  margin: 62px auto 34px;
}
.online-control-desc {
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  width: 681px;
  margin: 0 auto;
}
.click-me {
  width: 769px;
  display: flex;
  justify-content: space-between;
  margin: 93px auto 39px;
}

.label {
  font-family: Nunito Sans;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}
.label_2 {
  margin-left: 58px;
}
.input {
  height: 31px;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  width: 231px;
}

.button_sumbit {
  height: 51px;
  width: 200px;
}

.form_chekbox {
  text-align: center;
}

.button_submit {
  margin-left: 49px;
}

.repairtext {
  font-family: Yeseva One;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}
.logo-molton {
  text-align: center;
  margin-top: 13px;
}
.design-photo {
  width: 1266px;
  display: flex;
  justify-content: space-between;
  margin: 31px auto 0;
}
.photo-design {
  position: relative;
  margin: 0 15px;
  width: 33.33%;
}

.block_reapair {
  padding-left: 34px;
  padding-top: 25px;
  background-color: #ffffff;
  box-shadow: 10px 10px 20px rgb(0 0 0 / 3%);
}

.forma {
  position: relative;
  z-index: 2;
  margin-top: 294px;
  width: 330px;
  margin-left: 31px;
}
.image_name {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.buy_batton {
  padding-left: 18px;
  padding-right: 18px;
  font-family: Yeseva One;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  width: auto;
  color: #ffffff;
  font-style: normal;
}

.content {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.spisok_li {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
}

.call-features {
  flex: 1 0 auto;
}
.call-form {
  flex: 0 0 506px;
  background: #131313;
}

.call-wrapper {
  display: flex;
}

.call {
  padding-top: 59px;
  margin-top: 60px;
  background: url(../images/call-background.jpg) 0 center no-repeat;
}

.call-feature {
  display: flex;
}

.call-feature + .call-feature {
  margin-top: 87px;
}

.call-feature-cyrcle {
  flex: 0 0 58px;
  height: 58px;
  background: #e3b873;
  border: 8px solid #ffffff;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border-radius: 50%;
  font-family: Yeseva One;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
}
.call-feature-text {
  flex: 1 1 auto;
  padding-left: 17px;
  padding-top: 8px;
}

.call-features-inner {
  margin-left: 250px;
}

.call-form {
}

.call-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  top: 28px;
}

.input_request {
  border: 0;
}

.chekbox_request {
  font-family: Nunito Sans;
  font-size: 14px;
  line-height: 163.68%;
  color: #ffffff;
}

.button_request {
  margin-left: 244px;
  margin-bottom: 27px;
}

.request {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  /* identical to box height */
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 48px;
  margin-left: 49px;
}

.input_request {
  background-color: #131313;
  height: 31px;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  width: 231px;
  color: #ffffff;
  width: 408px;
}

.bank {
  background: #ffffff;
  padding: 38px 0 0 32px;
  display: flex;
}

.bank-icon-wrapper {
  width: 72px;
}
.bank-icon {
  width: 72px;
  height: 72px;
  background: #e3b873 url(../images/pig.svg) no-repeat 50% 50%;
  box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
  border-radius: 50%;
}
.bank-description {
  font-size: 18px;
  line-height: 26px;
  color: #e3b873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  padding-top: 12px;
  padding-left: 25px;
}

.text-our-clients {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-top: 71px;
}

.image-our-clients {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.descriptor {
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  margin-top: 24px;
  color: #363636;
}

.block-post-info {
  display: flex;
  justify-content: space-around;
}
.block-clients-info {
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  width: 376px;
  margin-top: 39px;
}

.text-clients {
  font-family: Nunito Sans;
  padding-top: 39px;
  padding-left: 20px;
  font-size: 13px;
  line-height: 180%;
  /* or 23px */
  color: #959595;
  padding-top: 11px;
}

.block-clients {
  display: flex;
  padding-top: 41px;
  padding-left: 20px;
}
.foto-client {
  border-radius: 50%;
  height: 76px;
  width: 76px;
}
.name-client {
  padding-left: 23px;
  padding-top: 20px;
  font-family: Yeseva One;
  font-size: 18px;
  line-height: 23px;
  color: #181818;
}
.button-lite {
  padding-top: 63px;
}
.button-pro {
  height: 54px;
  width: 293px;
  background: #e3b873;
  box-shadow: 5px 5px 20px rgb(227 184 115 / 50%);
}
.button-calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 293px;
  height: 54px;
  margin: 20px 11px;
}
.text-nebutton {
  padding-right: 12px;
  font-family: Yeseva One;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  margin: 20px 11px;
}
.black_black {
  display: flex;
  justify-content: center;
}

.black_questions {
  display: flex;
  align-items: center;
  background: black;
  width: 883px;
  height: 445px;
  justify-content: center;
  margin-top: 131px;
  z-index: 1;
}

.home {
  display: flex;
}

.text_questions {
  font-family: Yeseva One;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.input_questions {
  height: 31px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  background-color: black;
  height: 31px;
  border: 0;
  color: #ffffff;
  width: 231px;
}
.input_questions_text {
  height: 31px;
  background-color: black;
  height: 31px;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  color: #ffffff;
  width: 516px;
}
.button_chekbox {
  text-align: center;
}
.button_questions {
  margin-bottom: 34px;
}

.city-street {
  font-family: Yeseva One;
  margin-top: 52px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873;
}
.logo-socseti {
  text-align: center;
  margin-top: 26px;
}

.karta-image {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 65px;
}

.image-back {
  position: absolute;
  height: 354px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: #ffffff;
}
.image-back-inner {
  width: 100%;
  height: 100%;
  background: url(../images/фото\ с\ домами\ фон\ .svg) repeat-x;
  background-size: contain;
  opacity: 0.05;
}
.question-form {
  position: relative;
}

.contacts-background {
  background: linear-gradient(
      180deg,
      rgba(24, 24, 24, 0.9) 3.47%,
      rgba(24, 24, 24, 0.72) 100%
    ),
    url(../images/contact-background.jpg) no-repeat;
  background-size: cover;
  background-position: 0 354px;
}
